
@use '../../styles/variables' as vars;
@use '../../styles/mixins' as mix;

.input-field {
  width: 100%; 
  padding: vars.$spacing-xs vars.$spacing-sm;
  font-family: vars.$font-family-base;
  font-size: vars.$font-size-md;
  color: vars.$color-text-dark;
  background-color: vars.$color-background-light;
  border: 1px solid vars.$color-border;
  border-radius: vars.$border-radius-sm;
  outline: none; 
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &::placeholder {
    color: vars.$color-placeholder;
  }

  &:focus {
    border-color: vars.$color-primary; 
    box-shadow: 0 0 0 2px rgba(vars.$color-primary, 0.2); 
  }

  
  &--error {
    border-color: vars.$color-error;
    &:focus {
      border-color: vars.$color-error;
      box-shadow: 0 0 0 2px rgba(vars.$color-error, 0.2);
    }
  }

  
  &:disabled {
    background-color: vars.$color-background-light;
    color: vars.$color-placeholder;
    cursor: not-allowed;
  }
}